body {
  background-color: salmon;
}

h1 {
  font-size: 50px;
  text-align: center;
  padding: 20px;
  color: darkgreen;
  border: darkolivegreen;
}

a {
  font-size: 20px;
  padding: 20px;
  color: rgb(82, 6, 82);
}

img {
  float: left;
}